# Установка основных библиотек для работы с моделями машинного обучения
transformers  # библиотека от Hugging Face для работы с предобученными трансформерами
torch         # необходим для работы библиотеки transformers

# Установка библиотеки для сетевых запросов
requests  # используется для HTTP-запросов в скриптах

# Установка библиотеки Google Translate
googletrans==4.0.0-rc1 # используется для перевода сообщений
deep-translator # используется для перевода сообщений

# Установка библиотеки для озвучивания сообщений
pyttsx3 # Озвучка сообщения
